<%= stylesheet_link_tag 'ckeditor/skins/moono/editor.css'%>
<%= javascript_include_tag 'ckeditor/ckeditor.js'%>

<% @url = articles_path%>
<% @method = :post%>
<%if @article%>
	<% if @article.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@article.errors.count, "error") %> prohibited
		this article from being saved:</h2>
		<ul>
			<% @article.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<% if @article[:id] %>
		<% @url = article_path(@article)
		 @method = :patch
		 %>
	<% end %>
<% end %>

<%= @method%>

<%= form_for :article , url: @url, method: @method do |f|%>
<p>
	<%= f.label :category%>
	<%= f.text_field :category%>
</p>
<p>
	<%= f.label :abstract%>
	<%= f.text_field :abstract%>
</p>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :text %>
	<%= f.text_area :text, :class => 'ckeditor' %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>

<%= link_to 'Back', articles_path %>

